<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/application.css">
<div id ="racer-div">
  <table class="racer_table" border="1">
    <tr id="player1_strip"></tr>
    <tr id="player2_strip"></tr>
  </table>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/applicationoo.js"></script>