<div class="container">

  <h1>The winner was <b><%= @winner.name %></b></h1>
  <p>Your game took <%= @game.time_elapsed %> seconds</p>
  <p>See this result again:
  <a href='/game/<%= @game.url %>'><%= @game.url %></a>
  </p>
  <a href='/'>Play Again?</a>

</div>