<div id="racer-div">
<form id="players">
  <input id="field1" type="text" placeholder="Player 1" name="player1">
  <input type="text" placeholder="Player 2" name="player2"> 
  <input type="submit" value="Play!">
</form>
</div>