<div class="container">
  <h1>Welcome to Javascript Racer!</h1>
  <form id="players" action="/play" method="post">
    <input type="text" placeholder="Player 1" name="player1">
    <input type="text" placeholder="Player 2" name="player2"> 
    <input type="submit" value="Play!">
  </form>
</div>
