<div id ="racer-div">
<table class="racer_table" border="1"></table>
  <input id="player1" type="hidden" data-player-id="<%=@player1.id %>"value="<%= @player1.name %>" >
  <input id="player2" type="hidden" data-player-id="<%=@player2.id %>"  value="<%= @player2.name %>" >
</div>